In [58]:
import pandas as pd
import keyring
from sqlalchemy import create_engine
from nltk.corpus import stopwords

# Set up general tools

In [59]:
# NLTK Settings 
english_stops = set(stopwords.words('english'))

In [60]:
# Grab login and password 
user = keyring.get_password("onet", "user")
pw = keyring.get_password("onet", user)

In [61]:
# DB connection string 
db_uri = 'mysql+pymysql://{user}:{pw}@localhost:3306/onet'.format(user = user, pw = pw)
engine = create_engine(db_uri)

# Create RIASEC groups

In [62]:
def createRIASEC(data): 
    """ Create a RIASEC st.reset_index(inplace = True)ring"""
    columns = [data['First Interest High-Point'], 
               data['Second Interest High-Point'], 
               data['Third Interest High-Point']
              ]
    
    dataOut = [x[0] for x in columns if x != None]
    return ''.join(dataOut)

def riasecSplit(data): 
    dataOut = [True  if x in data['riasec'] else False for x in riasecCode]
    return pd.Series(dataOut)

riasecCode = ['R','I','A','S','E','C']

In [63]:
qry_riasec = """SELECT A.onetsoc_code, B.element_name, C.title, 
       CASE 
       WHEN scale_id = 'IH' AND data_value = 1 then 'Realistic'
       WHEN scale_id = 'IH' AND data_value = 2 then 'Investigative'
       WHEN scale_id = 'IH' AND data_value = 3 then 'Artistic'
       WHEN scale_id = 'IH' AND data_value = 4 then 'Social'
       WHEN scale_id = 'IH' AND data_value = 5 then 'Enterprising'
       WHEN scale_id = 'IH' AND data_value = 6 then 'Conventional'
       ELSE '' END AS RIASEC
FROM onet.interests as A LEFT JOIN 
content_model_reference as B 
ON A.element_id = B.element_id
LEFT JOIN onet.occupation_data AS C 
ON A.onetsoc_code = C.onetsoc_code
WHERE scale_id = 'IH' AND data_value != 0"""

# Query the data 
riasec = pd.read_sql(qry_riasec, engine)

# Pivot it to get the top 3 RIASEC where appropriate 
riasecDF = riasec.pivot(index = 'onetsoc_code', columns = 'element_name', values = 'RIASEC')
riasecDF.reset_index(inplace = True)

# Create new riasec column
riasecDF['riasec'] = riasecDF.apply(lambda x: createRIASEC(x), axis = 1)

# Queries

In [64]:
qry_task = """SELECT onetsoc_code, 'Task' as item, task as description, date_updated, domain_source
FROM onet.task_statements;"""

qry_toolsTechnology = """SELECT onetsoc_code, t2_type as item, Null as date_updated, Null as domain_source, 
t2_example as description
from onet.tools_and_technology"""

qry_knowledge = """SELECT A.onetsoc_code, 'Knowledge' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.knowledge as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'IM' and A.data_value >=3"""

qry_skills = """SELECT A.onetsoc_code, 'Skills' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.skills as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'IM' and A.data_value >=3"""

qry_abilities = """SELECT A.onetsoc_code, 'Abilities' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.abilities as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'IM' and A.data_value >=3"""

qry_workActivities = """SELECT A.onetsoc_code, 'WorkActivity' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.work_activities as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'IM' and A.data_value >=3"""

qry_workContext = """SELECT A.onetsoc_code, 'WorkContext' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.work_context as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'CX' """

qry_jobzone = """SELECT A.onetsoc_code, 'JobZone' as item, A.date_updated, A.domain_source,
B.Name as description
FROM onet.job_zones as A LEFT JOIN 
job_zone_reference as B 
ON A.job_zone = B.job_zone;"""

qry_workStyles = """SELECT A.onetsoc_code, 'WorkStyles' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.work_styles as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'IM' and A.data_value >=3"""

qry_workValues = """SELECT A.onetsoc_code, 'WorkValues' as item, A.date_updated, A.domain_source, 
B.element_name as description
FROM onet.work_values as A left join 
content_model_reference as B 
ON A.element_id = B.element_id
WHERE A.scale_id = 'EX'"""

# Start creating datasets

In [65]:
# Create individual dataframes 
tasksDF = pd.read_sql(qry_task, engine)
technologySkillsDF = pd.read_sql(qry_toolsTechnology, engine)
knowledgeDF = pd.read_sql(qry_knowledge, engine)
skillsDF = pd.read_sql(qry_skills, engine)
abilitiesDF = pd.read_sql(qry_abilities, engine)
workContextDF = pd.read_sql(qry_workContext, engine)
jobZoneDF = pd.read_sql(qry_jobzone, engine)
workStylesDF = pd.read_sql(qry_workStyles, engine)
workValuesDF = pd.read_sql(qry_workValues, engine)

In [66]:
# Concat them together 
df = pd.concat([tasksDF, technologySkillsDF, knowledgeDF, skillsDF, abilitiesDF, workContextDF, 
                jobZoneDF, workStylesDF, workValuesDF
               ])

In [67]:
# Create a DF with highest interest for each job 
riasecHP = riasec[riasec['element_name'] == 'First Interest High-Point']
riasecHP['riasec'] = riasec.apply(lambda x: x['RIASEC'][0], axis = 1)
riasecHP['riasec'] = riasec.apply(lambda x: x['RIASEC'][0], axis = 1)

/home/craig/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/craig/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [68]:
# Merge in riasec
df = df.merge(riasecHP[['onetsoc_code', 'riasec']], 
              left_on = 'onetsoc_code', 
              right_on = 'onetsoc_code', 
              how = 'left', )

In [69]:
# Create list of ONET codes
onetsoc_codes = list(df['onetsoc_code'].unique())

In [70]:
# Create Docs  --- MIGHT BE BETTER TO CHANGE THIS SO IT'S NOT ALL IN MEMORY 
import string 

docs=[]
for soc in onetsoc_codes: 
    text = ' '.join(df[df['onetsoc_code'] == soc]['description'].tolist())
    out = text.translate(text.maketrans("","", string.punctuation))

    tmp = {'soc': soc, 
           'text': out
          }
    docs.append(tmp)

In [71]:
# Pickle the doc and save it 
import pickle
pickle.dump(docs, open('onetsoccode.p', 'wb'))

# Create Corpus and Dictionary

In [72]:
from gensim import corpora, models, similarities
from six import iteritems

In [73]:
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [74]:

# Create a list of documents
documents = [doc['text'].lower().split() for doc in docs]

In [75]:
# Create the dictionary 
dictionary = corpora.Dictionary(documents)

# remove stop words and words that appear only once
stop_ids = [dictionary.token2id[stopword] for stopword in english_stops 
            if stopword in dictionary.token2id]

# remove stop words and words that appear only once
dictionary.filter_tokens(stop_ids)

# Save the dictionary 
dictionary.save("onet.dict")

2017-10-15 21:37:25,332 : INFO : adding document #0 to Dictionary(0 unique tokens: [])
2017-10-15 21:37:26,160 : INFO : built Dictionary(25292 unique tokens: ['resolve', 'customer', 'complaints', 'regarding', 'sales']...) from 974 documents (total 828830 corpus positions)
2017-10-15 21:37:26,186 : INFO : saving Dictionary object under onet.dict, separately None
2017-10-15 21:37:26,196 : INFO : saved onet.dict

In [76]:
# Save the corpus 
corpus = [dictionary.doc2bow(doc) for doc in documents]
corpora.MmCorpus.serialize('onet_corpus.mm', corpus)  # store to disk, for later use

2017-10-15 21:37:26,902 : INFO : storing corpus in Matrix Market format to onet_corpus.mm
2017-10-15 21:37:26,904 : INFO : saving sparse matrix to onet_corpus.mm
2017-10-15 21:37:26,905 : INFO : PROGRESS: saving document #0
2017-10-15 21:37:27,605 : INFO : saved 974x25184 matrix, density=1.842% (451904/24529216)
2017-10-15 21:37:27,608 : INFO : saving MmCorpus index to onet_corpus.mm.index

In [77]:
# Create a look up table of idx and ONET codes
lookup=pd.DataFrame([{'idx':idx, 'soc':x['soc']} for idx, x in enumerate(docs)])

riasecDF = riasecDF.merge(lookup, 
                left_on ='onetsoc_code', 
                right_on = 'soc',
                how = 'left', 
               )

In [78]:
riasecDF.set_index('idx', inplace = True)

In [79]:
titles = "SELECT onetsoc_code, title FROM onet.occupation_data"
jobTitles = riasec = pd.read_sql(titles, engine)

In [80]:
riasecDF = riasecDF.merge(jobTitles, 
               left_on = 'onetsoc_code', 
               right_on = 'onetsoc_code', 
               how = 'left'
              )

In [81]:
# Save out the raisecDF into a dict
pickle.dump(riasecDF.to_dict(orient='index'), open('lookuptable', 'wb'))